@import '../../utils.scss';

.header {
  @extend %flex-row-align-center;

  justify-content: space-between;
  padding: 10px 40px;

  a {
    color: #333;
    text-decoration: none;
  }
}

.header__logo {
  @extend %flex-row-align-center;
}
.header__img {
  width: 50px;
}
.header__h1 {
  font-size: 40px;
}

.header__div {
  @extend %flex-row-align-center;

  justify-content: space-around;

  div {
    @extend %flex-row-align-center;
  }
}

.lang {
  display: hidden;
}

.lang:hover {
  background-color: #333;
  padding: 10px;
  width: 200px;
  display: block;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      list-style: none;
      margin: 5px;
    }
  }
}

.header__overlay {
  @extend %overlay;

  position: absolute;
  width: 200px;
  margin-left: 3%;
  margin-top: 7%;
  border: 1px solid #333;
  background-color: lightgray;
}
