@import '../../utils.scss';

.dashboard {
  height: 100vh;
}
.dashboard__overlay {
  @extend %overlay;

  position: absolute;
  margin-left: 20%;
  border: 2px solid #333;
  border-radius: 3px;
  background-color: ghostwhite;
}

.dashboard__overlay__close {
  position: absolute;
  margin-left: 43%;
}
