@import '../../utils.scss';

.dashboard {
  height: 100vh;
  margin: 20px;

  h1 {
    font-size: 30px;
    margin-bottom: 60px;
  }
}
.dashboard__overlay {
  @extend %overlay;

  position: absolute;
  left:35%;
  border: 2px solid #333;
  border-radius: 3px;
  background-color: ghostwhite;
  padding: 20px 10px;
  min-height: 45vh;
}


.dashboard__overlay__close {
  background-color: transparent;
  outline: none;
  font-size: 30px;
  float: right;
}

.dashboard__overlay__buttons {
  background-color: $gold;
  border-radius: 20px;
  color: white;
  padding: 8px 18px;
  margin-right: 10px;
  font-size: 16px;
}

