$red: #ff3b22;
$blue: #2671da;
$green: #00d56b;
$gold: #ffd000;

%flex-row-align-center {
  display: flex;
  align-items: center;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

%overlay {
  z-index: 2;
}
